<h4>Activity Feed</h4>
<table id="activity-table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
            <th scope="col">Lesson</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            <tr>
                <td class="lesson-id">{{stringDate date}}</td>
                <td class="lesson-name">{{username}}</td>
                <td>{{name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>