#header-wrapper {
    display: flex;
}

#icon-wrapper {
    padding: 20px 60px;
    font-size: 26px;
    color: #f45531;
    cursor: pointer;
}

#search-wrapper {
    padding-right: 10px;
    white-space: nowrap;
    width: 500px;
    margin: 15px 10px;
    border: 1px solid #151313;
    transition: all 150ms ease-out;
}

#search-wrapper:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

::-webkit-input-placeholder {
    color: #989898;
}

#search-wrapper:hover ::-webkit-input-placeholder {
    color: #ffffff;
}

#search-wrapper:hover #search-icon {
    color: #ffffff;
}

::-webkit-input-placeholder {
    transition: all 150ms ease-out;
}

#search-icon {
    padding: 12px;
    cursor: pointer;
    color: #747474;
    transition: all 150ms ease-out;
}

#search-input {
    background-color: transparent;
    width: 456px;
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    color: #ffffff;
}

#nav-wrapper {
    margin-left: auto;
    padding: 0 30px;
    position: relative;
    white-space: nowrap;
}

.nav-links {
    cursor: pointer;
    padding: 10px 0;
    margin: 0 10px;
    transition: all 150ms ease-out;
    line-height: 67px;
}

.nav-links:hover {
    color: #f45531;
}

/* ACCOUNT WRAPPER */

#account-wrapper {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 58px;
    left: -20px;
    width: 200px;
    background: #242323;
    display: none;
    white-space: normal;
}

#account-wrapper div {
    padding: 20px 30px;
}

#logout-icon {
    margin-right: 10px;
}

#icon-wrapper {
    margin-right: 8px;
}

.account-links {
    padding: 0 13px;
    cursor: pointer;
}

.account-active #account-link {
    border-bottom: 2px solid #f45531;
}

.account-active #account-wrapper {
    display: block;
}

.account-links:hover {
    background-color: #1c1c1c;
}

#username {
    color: #a1a1a1;
    font-size: 13px;
}
/* ACCOUNT WRAPPER */

/* LESSONS */
#body-wrapper {
    display: flex;
}

#lesson-list-wrapper {
    margin: 0 auto;
    width: calc(100vw - 200px);
    min-width: 700px;
    height: calc(100vh - 87px);
}
/* LESSONS */

/* FILE UPLOAD */
#overlay, #file-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background: #000000c7;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

#overlay.active, #file-preview-overlay.active {
    display: flex;
}

#file-preview-overlay iframe {
    width: 90%;
    height: 80%;
}

.drop #dragover-wrapper {
    display: none;
}

#dragover-wrapper {
    background: #d56b6b;
    border-radius: 3px;
    padding: 10px;
    display: block;
}

#dragover-container {
    padding: 24px 55px;
    position: relative;
    border: dashed;
}

#dragover-container #file-icons-wrapper {
    text-align: center;
    position: absolute;
    font-size: 55px;
    top: -54px;
    left: 95px;
}

#file-icons-wrapper span:nth-child(1) {
    position: absolute;
    transform: rotate(27deg);
    left: 44px;
    top: 8px;
}

#file-icons-wrapper span:nth-child(2) {
    position: absolute;
}

#file-icons-wrapper span:nth-child(3) {
    position: absolute;
    transform: rotate(-27deg);
    right: 4px;
    top: 7px;
}

#dragover-container h4 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

#dragover-container p {
    font-size: 13px;
    text-align: center;
    margin: 17px 0;
}

#upload-wrapper {
    display: none;
}

.drop #upload-wrapper {
    display: block;
}

#upload-container {
    background: #d56b6b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

#upload-details-wrapper {
    position: relative;
    border: dashed;
    width: 400px;
}

#upload-container #file-icon {
    font-size: 80px;
    position: absolute;
    top: -43px;
    left: 13px;
}

#file-input {
    display: none;
}

#file-section-1 {
    padding: 13px 0 0 87px;
}

#file-section-2 {
    display: flex;
    padding: 10px;
}

#file-section-2 #tag-input {
    width: 356px;
}

#file-section-2 p {
    margin: 6px 0;
    font-size: 13px;
    color: #f1f1f1;
}

.tag-wrapper:not:empty {
    padding: 5px 0;
}

.tag-wrapper span {
    background: #e99191;
    color: #fff;
    padding: 5px 12px;
    border-radius: 17px;
    font-size: 14px;
    margin: 0 2px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.tag-wrapper svg {
    padding: 2px 0 2px 4px;
    margin-bottom: -2.5px;
}

#file-section-3 {
    display: flex;
    padding: 10px;
}

#file-section-3 div:nth-child(1) {
    width: 33%;
    text-align: center;
}

#file-section-3 div:nth-child(2) {
    width: 66%;
    text-align: center;
}

#file-section-4 {
    display: flex;
    padding: 10px 0 20px;
}

#file-section-4 div {
    width: 33%;
    text-align: center;
}

#file-section-5 {
    display: flex;
    padding: 10px;
}

#upload-container label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

#upload-container input {
    background-color: #e3a4a4;
    border: none;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin: 2px 2px 2px 0;
    color: #ffffff;
    padding: 10px;
    width: 250px;
}

#upload-container select {
    background: #fe6d6d;
    border: none;
    outline: none;
    padding: 7px;
    color: white;
    font-weight: 400;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#upload-submit-wrapper {
    width: 404.8px;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #f18f8f;
}

#overlay button {
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 11px 22px;
    cursor: pointer;
    border-radius: 3px;
}

#lesson-cancel-button {
    color: #fff;
    background: transparent;
}

#lesson-cancel-button:hover {
    text-decoration: underline;
}

#lesson-submit-button {
    color: #ffffff;
    background: #c66464;
}
/* FILE UPLOAD */

/*LESSON TABLE*/
#lesson-table {
    width: 100%;
}

#lesson-table thead {
    color: #ffffff;
    font-size: 14px;
}

#lesson-table tbody tr {
    text-align: center;
    height: 52px;
    background: #151515;
    color: #f67a7a;
}

#lesson-table tbody tr td {
    height: 65px;
}

#lesson-table .action-wrapper {
    width: 175px;
}

.action-wrapper button {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    transition: all 150ms ease-out;
}

.action-wrapper button:hover {
    font-size: 21px;
}

#lesson-table .tag {
    font-size: 13px;
    padding: 3px 8px;
    margin-top: 10px;
}

#print-button {
    color: #35bcff;
}

#download-button {
    color: #53ffb9;
}
/*LESSON TABLE*/