#header-wrapper {
    display: flex;
}

#icon-wrapper {
    padding: 20px 60px;
    font-size: 26px;
    color: #f45531;
    cursor: pointer;
}

#search-wrapper {
    padding-right: 10px;
    white-space: nowrap;
    width: 500px;
    margin: 15px 10px;
    border: 1px solid #a7a7a7;
    transition: all 150ms ease-out;
}

#search-wrapper:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

::-webkit-input-placeholder {
    color: #989898;
}

#search-wrapper:hover ::-webkit-input-placeholder {
    color: #ffffff;
}

#search-wrapper:hover #search-icon {
    color: #ffffff;
}

::-webkit-input-placeholder {
    transition: all 150ms ease-out;
}

#search-icon {
    padding: 12px;
    cursor: pointer;
    color: #747474;
    transition: all 150ms ease-out;
}

#search-input {
    background-color: transparent;
    width: 456px;
    outline: none;
    border: none;
    border-radius: 1px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    color: #ffffff;
}

#nav-wrapper {
    margin-left: auto;
    padding: 0 30px;
    position: relative;
    white-space: nowrap;
}

.nav-links {
    cursor: pointer;
    padding: 10px 0;
    margin: 0 10px;
    transition: all 150ms ease-out;
    line-height: 67px;
}

.nav-links:hover {
    color: #f45531;
}

#delete-wrapper {
    display: none;
}

/* ACCOUNT WRAPPER */

#account-wrapper {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 58px;
    left: 110px;
    width: 200px;
    background: #242323;
    display: none;
    white-space: normal;
}

#account-wrapper div {
    padding: 20px 30px;
}

#empty-lesson-wrapper {
    text-align: center;
    border: 1.5px dashed #eb6666;
    height: calc(100% - 85px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#empty-lesson-icon {
    font-size: 170px;
    color: #ff7474;
}

#drag-drop-text {
    color: white;
    font-size: 28px;
    margin-left: 50px;
}

#logout-icon {
    margin-right: 10px;
}

#icon-wrapper {
    margin-right: 8px;
}

.account-links {
    padding: 0 13px;
    cursor: pointer;
}

.account-active #account-link {
    border-bottom: 2px solid #f45531;
}

.account-active #account-wrapper {
    display: block;
}

.account-links:hover {
    background-color: #1c1c1c;
}

#username {
    color: #a1a1a1;
    font-size: 13px;
    display: block;
}
/* ACCOUNT WRAPPER */

/* LESSONS */
#body-wrapper {
    display: flex;
}

#lesson-list-wrapper {
    margin: 0 auto;
    min-width: 700px;
    height: calc(100vh - 88px);
    box-shadow: inset 0 0 4px 1px rgba(141, 141, 141, 0.2), 0 3px 24px rgba(100, 100, 100, 0.2);
    padding: 0 45px;
    width: calc(100vw - 200px);
}
/* LESSONS */

/* FILE UPLOAD */
#overlay, #file-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background: #000000c7;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

#overlay.active, #file-preview-overlay.active {
    display: flex;
}

#file-preview-overlay iframe {
    width: 90%;
    height: 80%;
}

.drop #dragover-wrapper, .document #dragover-wrapper, .document #upload-wrapper, .reflection #dragover-wrapper {
    display: none;
}

#dragover-wrapper {
    background: #d56b6b;
    border-radius: 3px;
    padding: 10px;
    display: block;
}

#dragover-container {
    padding: 24px 55px;
    position: relative;
    border: dashed;
}

#dragover-container #file-icons-wrapper {
    text-align: center;
    position: absolute;
    font-size: 55px;
    top: -54px;
    left: 95px;
}

#file-icons-wrapper span:nth-child(1) {
    position: absolute;
    transform: rotate(27deg);
    left: 44px;
    top: 8px;
}

#file-icons-wrapper span:nth-child(2) {
    position: absolute;
}

#file-icons-wrapper span:nth-child(3) {
    position: absolute;
    transform: rotate(-27deg);
    right: 4px;
    top: 7px;
}

#dragover-container h4 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

#dragover-container p {
    font-size: 13px;
    text-align: center;
    margin: 17px 0;
}

#upload-wrapper {
    display: none;
}

.drop #upload-wrapper {
    display: block;
}

#upload-container {
    background: #d56b6b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

#upload-details-wrapper {
    position: relative;
    border: dashed;
    width: 400px;
}

#upload-container #file-icon {
    font-size: 80px;
    position: absolute;
    top: -43px;
    left: 13px;
}

#file-input {
    display: none;
}

#file-section-1 {
    padding: 13px 0 0 87px;
}

#file-section-2 {
    display: flex;
    padding: 10px;
}

#file-section-2 #tag-input {
    width: 356px;
}

#file-section-2 p, #create-document-overlay p {
    margin: 6px 0;
    font-size: 13px;
    color: #f1f1f1;
}

.tag-wrapper:not:empty {
    padding: 5px 0;
}

.tag-wrapper span {
    background: #e99191;
    color: #fff;
    padding: 5px 12px;
    border-radius: 17px;
    font-size: 14px;
    margin: 0 2px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.tag-wrapper svg, .list svg {
    padding: 2px 0 2px 4px;
    margin-bottom: -2.5px;
}

#file-section-3 {
    display: flex;
    padding: 10px;
}

#file-section-3 .check-box-label {
    font-size: 13px;
}

#subject-title {
    margin-bottom: 2px !important;
}

#file-section-3 div:nth-child(1) {
    width: 33%;
    text-align: center;
}

#file-section-3 div:nth-child(2) {
    margin: 0 auto;
    width: 265px;
    text-align: center;
}

#file-section-4 {
    display: flex;
    padding: 10px 0 20px;
}

#file-section-4 div:nth-of-type(1), #file-section-4 div:nth-of-type(3) {
    width: 30%;
    text-align: center;
}

#file-section-4 div:nth-of-type(2) {
    width: 40%;
    text-align: center;
}

#file-section-5 {
    display: flex;
    padding: 10px;
}

#overlay label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

#overlay input {
    background-color: #e3a4a4;
    border: none;
    font-size: 15px;
    outline: none;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin: 2px 2px 2px 0;
    color: #ffffff;
    padding: 10px;
    width: 250px;
}

#overlay select {
    background: #fe6d6d;
    border: none;
    outline: none;
    padding: 7px;
    color: white;
    font-weight: 400;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#upload-submit-wrapper {
    width: 404.8px;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #f18f8f;
}

#overlay button {
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 11px 22px;
    cursor: pointer;
    border-radius: 3px;
}

#lesson-cancel-button {
    color: #fff;
    background: transparent;
}

#lesson-cancel-button:hover {
    text-decoration: underline;
}

#lesson-submit-button {
    color: #ffffff;
    background: #c66464;
}
/* FILE UPLOAD */

/*LESSON TABLE*/
#lesson-table {
    width: 100%;
}

#lesson-table thead {
    color: #ffffff;
    font-size: 14px;
}

#lesson-table tbody tr {
    text-align: center;
    height: 52px;
    background: #151515;
    color: #f67a7a;
}

#lesson-table tbody tr td {
    height: 65px;
}

#lesson-table .action-wrapper {
    width: 175px;
}

.action-wrapper button {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    transition: all 150ms ease-out;
}

.action-wrapper button:hover {
    font-size: 21px;
}

#lesson-table .tag {
    font-size: 13px;
    padding: 3px 8px;
    margin-top: 10px;
}

#print-button {
    color: #35bcff;
}

#download-button {
    color: #53ffb9;
}

.reflection-icon {
    padding: 5px 9px;
    background: #000;
    border-radius: 2px;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.reflection-icon:hover {
    font-size: 19px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

#x-mark {
    color: #ff1717;
}

#check-mark {
    color: #18c718;
}
/*LESSON TABLE*/

#edit-button, #delete-button {
    display: none;
}

/*CREATE DOCUMENT*/
#create-document-button {
    color: #5dd8ff;
    background: #1c1c1c;
    padding: 5px 23px;
    margin: 17px;
    font-size: 24px;
    height: 38px;
    outline: none;
    cursor: pointer;
    transition: all 150ms ease-out;
    position: relative;
    border: 1px #6c6c6c solid;
}

#plus-span {
    font-size: 11.5px;
    color: #12ff1b;
    position: absolute;
    right: 9px;
    transition: all 150ms ease-out;
}

#create-document-button:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
    background: #363535;
}

#create-document-button:hover #plus-span {
    color: #00ff0a;
}

#create-document-overlay {
    display: none;
    height: 80%;
}

#create-document-wrapper {
    background: #24a8db;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    position: relative;
    width: 655px;
    height: 80%;
}

#create-document-overlay ::-webkit-scrollbar {
    width: 11px;
}

#create-document-overlay ::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #c1f9ff;
}

#create-document-overlay ::-webkit-scrollbar-thumb {
    background: #5471ff;
    border-radius: 1px;
}

#create-document-overlay ::-webkit-scrollbar-corner {
    background: #242424;
}

#create-document-scroll-wrapper {
    overflow-y: scroll;
    height: calc(100% - 0px);
}

#left-wrapper {
    margin-right: 20px;
}

.document #create-document-overlay {
    display: block;
}

#doc-section-1 {
    padding: 13px 0 0 87px;
    max-width: 450px;
}

#doc-section-2, #doc-section-4 {
    display: flex;
    max-width: 296px;
}

#doc-section-3 {
    max-width: 610px;
}

#name-input {
    width: 100% !important;
}

#create-document-overlay #file-icon {
    font-size: 80px;
    position: absolute;
    top: -43px;
    left: 13px;
    z-index: 1;
}

#create-document-overlay input {
    background-color: #b9e2ff;
    color: #000000;
    font-size: 14px;
    padding: 8px;
}

#overlay textarea {
    background-color: #b9e2ff;
    color: #000000;
    border: none;
    font-size: 13px;
    outline: none;
    height: 95px;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin: 2px 2px 2px 0;
    padding: 10px;
    width: 250px;
    resize: none;
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
}

.input-wrapper {
    margin: 10px 0;
    background: #5dbcff;
    padding: 10px;
    border-radius: 2px;
    border: white 1.5px solid;
}

.subject .check-box-label {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.subject div div {
    text-align: center;
    width: 275px;
}

.list {
    background: #4d4af0;
    color: #fff;
    padding: 5px 14px;
    border-radius: 14px;
    font-size: 14px;
    margin: 0 2px;
    cursor: pointer;
    width: fit-content;
}

#addressed-wrapper, #resources-wrapper, #lesson-objective-wrapper {
    padding-left: 16px;
    margin: 10px 0;
}

#inner-doc-section-3 {
    margin: 0 25px;
}

#inner-doc-section-3 textarea {
    width: calc(100% - 20px);
}

.inner-doc-section {
    margin: 0 10px;
}

.inner-doc-section textarea {
    width: 240px !important;
}

#doc-submit-wrapper {
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #00d0ff;
}

#doc-cancel-button, #doc-submit-button {
    color: white;
    background: #0095ff;
}
/*CREATE DOCUMENT*/

/*REFLECTION*/
.reflection #reflection-wrapper {
    display: block;
}

#reflection-wrapper {
    display: none;
}

#reflection-wrapper textarea {
    width: 336px;
    background-color: #95caef;
}

.reflection #reflection-wrapper {
    display: block;
}

#reflection-container {
    background: #1b5fdd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}

#reflection-details-wrapper {
    position: relative;
    width: 400px;
}

#reflection-section-1 label {
    margin: 7px 0 15px 10px;
    font-size: 22px;
}

#reflection-section-2 {
    margin-left: 22px;
}

#reflection-wrapper #reflection-icon {
    font-size: 80px;
    position: absolute;
    top: -65px;
    right: 8px;
    z-index: 1;
    color: #6ac663;
}

#reflection-submit-wrapper {
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #287eff;
}

#reflection-submit-wrapper button {
    color: white;
    background: #004eff;
}
/*REFLECTION*/

/*TEST*/
.check-box-wrapper {
    user-select: none;
    cursor: pointer;
	padding: 0 4px;
    display: inline !important;
}

.check-box-wrapper span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box {
	position: relative;
    width: 18px;
    background: #ffffff;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #d1c9c9;
    transition: all .2s ease;
}

.check-box-wrapper .check-box svg {
	position: absolute;
	top: 4px;
	left: 3px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all .3s ease;
	transition-delay: .1s;
	transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box-label {
	padding-left: 3px;
}

.check-box-wrapper:hover .check-box {
	border-color: #506EEC;
}

.checkbox-input:checked + .check-box-wrapper .check-box {
	background: #506EEC;
	border-color: #506EEC;
	animation: wave .4s ease;
}

#upload-wrapper .check-box-wrapper:hover .check-box {
	border-color: #fe6d6d;
}

#upload-wrapper .checkbox-input:checked + .check-box-wrapper .check-box {
	background: #fe6d6d;
	border-color: #fe6d6d;
	animation: wave .4s ease;
}

.checkbox-input:checked + .check-box-wrapper .check-box svg {
	stroke-dashoffset: 0;
}

.checkbox-input:checked + .check-box-wrapper .check-box:before {
	transform: scale(3.5);
	opacity: 0;
	transition: all .6s ease;
}

@keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
/*TEST*/