{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>LVMC: Admin</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.file = null;
        globals.lessons = {{lessons|safe}};
    </script>
</head>
<body id="admin">
    {% csrf_token %}

    <div id="header-wrapper">
        <div id="icon-wrapper"><i class="fas fa-pencil-alt"></i></div>
        <div id="search-wrapper">
            <span id="search-icon"><i class="fas fa-search"></i></span>
            <input id="search-input" name="q" value="" autocomplete="off" placeholder="Search">
        </div>
        <button id="create-document-button"><i class="fas fa-file-word"></i><span id="plus-span"><i class="fas fa-plus"></i></span></button>
        <div id="nav-wrapper">
            <span class="nav-links" id="home-link">Home</span>
            <span class="nav-links" id="account-link">Account</span>
            <div id="account-wrapper">
                <div>{{ name }}
                    <span id="username">{{ username }}</span>
                </div>
                <div class="account-links" id="logout-link"><span id="logout-icon"><i class="fas fa-sign-out-alt"></i></span>Logout</div>
            </div>
        </div>
    </div>

    <div id="body-wrapper">
        <div id="lesson-list-wrapper">

        </div>
        <div id="activity-wrapper">

        </div>
    </div>

    <div id="overlay">
        <div id="dragover-wrapper">
            <div id="dragover-container">
                <div id="file-icons-wrapper">
                    <span><i class="fas fa-file-invoice"></i></span>
                    <span><i class="fas fa-file-alt"></i></span>
                    <span><i class="fas fa-file-contract"></i></span>
                </div>
                <h4>Drag & Drop</h4>
                <p>Upload a lesson.</p>
            </div>
        </div>
        <div id="upload-wrapper">
            <div id="upload-container">
                <div id="upload-details-wrapper">
                    <div id="file-section-1">
                        <span id="file-icon"><i class="fas fa-file"></i></span>
                        <label for="file-name-input">Lesson Name</label>
                        <input type="text" id="file-name-input"/>
                    </div>

                    <div id="file-section-2">
                        <div>
                            <label for="tag-input">Tags</label>
                            <div class="tag-wrapper"></div>
                            <p>Press 'Enter' to add to the list.</p>
                            <input id="tag-input" />
                        </div>
                    </div>

                    <div id="file-section-3">
                        <div>
                            <label for="program-input">Program</label>
                            <select id="program-input">
                                <option value="ELAA">ELAA</option>
                                <option value="GED">GED</option>
                            </select>
                        </div>
                        <div>
                            <label id="subject-title" for="subject-input">Subject</label>
                            <div>
                                <input type="checkbox" id="reading-checkbox" data-type="columns" class="checkbox-input column-filter" value="Reading" style="display: none">
                                <label for="reading-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Reading</span>
                                </label>
                                <input type="checkbox" id="writing-checkbox" data-type="columns" class="checkbox-input column-filter" value="Writing" style="display: none">
                                <label for="writing-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Writing</span>
                                </label> <br/>
                                <input type="checkbox" id="mathematics-checkbox" data-type="columns" class="checkbox-input column-filter" value="Mathematics" style="display: none">
                                <label for="mathematics-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Mathematics</span>
                                </label>
                                <input type="checkbox" id="social-studies-checkbox" data-type="columns" class="checkbox-input column-filter" value="Social Studies" style="display: none">
                                <label for="social-studies-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Social Studies</span>
                                </label><br/>
                                <input type="checkbox" id="science-checkbox" data-type="columns" class="checkbox-input column-filter" value="Science" style="display: none">
                                <label for="science-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Science</span>
                                </label>
                                <input type="checkbox" id="listening-checkbox" data-type="columns" class="checkbox-input column-filter" value="Listening" style="display: none">
                                <label for="listening-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Listening</span>
                                </label>
                                <input type="checkbox" id="speaking-checkbox" data-type="columns" class="checkbox-input column-filter" value="Speaking" style="display: none">
                                <label for="speaking-checkbox" class="check-box-wrapper">
                                    <span class="check-box">
                                        <svg width="12px" height="10px">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span class="check-box-label">Speaking</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="file-section-4">
                        <div>
                            <label for="level-input">Level</label>
                            <select id="level-input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        </div>
                        <div>
                            <label for="block-input">Block</label>
                            <select id="block-input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        </div>
                        <div>
                            <label for="standard-input">Standard</label>
                            <select id="standard-input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="upload-submit-wrapper">
                <button id="lesson-cancel-button">Cancel</button>
                <button id="lesson-submit-button">Submit</button>
            </div>
        </div>

        <div id="create-document-overlay">
            <div id="create-document-wrapper">
                <div id="create-document-scroll-wrapper">
                    <div id="doc-section-1">
                        <span id="file-icon"><i class="fas fa-file-word"></i></span>
                        <label for="name-input">Instructor Name</label>
                        <input type="text" id="name-input"/>
                    </div>
                    <div id="doc-section-2">
                        <div id="left-wrapper">
                            <div class="input-wrapper">
                                <label>Program</label>
                                <div>
                                    ABE
                                    <div>
                                        <input type="checkbox" id="abe-1-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-1" style="display: none">
                                        <label for="abe-1-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">1</span>
                                        </label>
                                        <input type="checkbox" id="abe-2-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-2" style="display: none">
                                        <label for="abe-2-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">2</span>
                                        </label>
                                        <input type="checkbox" id="abe-3-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-3" style="display: none">
                                        <label for="abe-3-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">3</span>
                                        </label>
                                        <input type="checkbox" id="abe-4-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-4" style="display: none">
                                        <label for="abe-4-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">4</span>
                                        </label>
                                        <input type="checkbox" id="abe-5-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-5" style="display: none">
                                        <label for="abe-5-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">5</span>
                                        </label>
                                        <input type="checkbox" id="abe-6-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-6" style="display: none">
                                        <label for="abe-6-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">6</span>
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    ELAA
                                    <div>
                                        <input type="checkbox" id="elaa-1-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-1" style="display: none">
                                        <label for="elaa-1-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">1</span>
                                        </label>
                                        <input type="checkbox" id="elaa-2-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-2" style="display: none">
                                        <label for="elaa-2-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">2</span>
                                        </label>
                                        <input type="checkbox" id="elaa-3-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-3" style="display: none">
                                        <label for="elaa-3-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">3</span>
                                        </label>
                                        <input type="checkbox" id="elaa-4-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-4" style="display: none">
                                        <label for="elaa-4-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">4</span>
                                        </label>
                                        <input type="checkbox" id="elaa-5-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-5" style="display: none">
                                        <label for="elaa-5-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">5</span>
                                        </label>
                                        <input type="checkbox" id="elaa-6-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-6" style="display: none">
                                        <label for="elaa-6-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">6</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-wrapper subject">
                                <label>Subject</label>
                                <div>
                                    ABE
                                    <div>
                                        <input type="checkbox" id="abe-r-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-r" style="display: none">
                                        <label for="abe-r-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Reading</span>
                                        </label>
                                        <input type="checkbox" id="abe-w-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-w" style="display: none">
                                        <label for="abe-w-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Writing</span>
                                        </label>
                                        <input type="checkbox" id="abe-m-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-m" style="display: none">
                                        <label for="abe-m-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Mathematics</span>
                                        </label>
                                        <input type="checkbox" id="abe-ss-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-ss" style="display: none">
                                        <label for="abe-ss-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Social Studies</span>
                                        </label>
                                        <input type="checkbox" id="abe-s-checkbox" data-type="columns" class="checkbox-input column-filter" value="abe-s" style="display: none">
                                        <label for="abe-s-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Science</span>
                                        </label>
                                    </div>
                                </div>

                                <div>
                                    ELAA
                                    <div>
                                        <input type="checkbox" id="elaa-r-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-r" style="display: none">
                                        <label for="elaa-r-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Reading</span>
                                        </label>
                                        <input type="checkbox" id="elaa-w-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-w" style="display: none">
                                        <label for="elaa-w-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Writing</span>
                                        </label>
                                        <input type="checkbox" id="elaa-l-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-l" style="display: none">
                                        <label for="elaa-l-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Listening</span>
                                        </label>
                                        <input type="checkbox" id="elaa-s-checkbox" data-type="columns" class="checkbox-input column-filter" value="elaa-s" style="display: none">
                                        <label for="elaa-s-checkbox" class="check-box-wrapper">
                                            <span class="check-box">
                                                <svg width="12px" height="10px">
                                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                                </svg>
                                            </span>
                                            <span class="check-box-label">Speaking</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-wrapper">
                                <label for="addressed-input">Standards Addressed</label>
                                <ul id="addressed-wrapper"></ul>
                                <p>Press 'Enter' to add to the list.</p>
                                <input id="addressed-input" />
                            </div>

                            <div class="input-wrapper">
                                <label for="lesson-title-input">Lesson Title</label>
                                <input id="lesson-title-input" />
                            </div>
                        </div>

                        <div id="right-wrapper">
                            <div class="input-wrapper">
                                <label for="lesson-objective-input">Lesson Objective(s)</label>
                                <ul id="lesson-objective-wrapper"></ul>
                                <p>Press 'Enter' to add to the list.</p>
                                <input id="lesson-objective-input" />
                            </div>

                            <div class="input-wrapper">
                                <label for="resources-input">Curriculum Resources</label>
                                <ul id="resources-wrapper"></ul>
                                <p>Press 'Enter' to add to the list.</p>
                                <input id="resources-input" />
                            </div>

                            <div class="input-wrapper">
                                <label for="introduction-input">Introduction</label>
                                <textarea id="introduction-input"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="doc-section-3">
                        <div class="input-wrapper">
                            <label>Classroom Procedure</label>
                            <div id="inner-doc-section-3">
                                <label for="input-modeling-input">Input and Modeling</label>
                                <textarea id="input-modeling-input"></textarea>
                                <label for="understanding-input">Check for Understanding</label>
                                <textarea id="understanding-input"></textarea>
                                <label for="practice-input">Independent Practice</label>
                                <textarea id="practice-input"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="doc-section-4">
                        <div id="left-wrapper">
                            <div class="input-wrapper">
                                <label for="closure-input">Closure</label>
                                <textarea id="closure-input"></textarea>
                            </div>
                            <div class="input-wrapper">
                                <label for="extended-learning-input">Extended Learning (Practice Outside of Classroom)</label>
                                <textarea id="extended-learning-input"></textarea>
                            </div>
                            <div class="input-wrapper">
                                <label for="assessment-input">Assessment (Formative, Standardized, Other)</label>
                                <textarea id="assessment-input"></textarea>
                            </div>
                        </div>
                        <div id="right-wrapper">
                            <div class="input-wrapper">
                                <label for="udl-input">UDL (Universal Design for Learning)</label>
                                <textarea id="udl-input"></textarea>
                            </div>

                            <div class="input-wrapper">
                                <label>After Lesson Reflection</label>
                                <div class="inner-doc-section">
                                    <label for="work-input">Did the lesson work?</label>
                                    <textarea id="work-input"></textarea>
                                    <label for="add-input">What would you add or take away?</label>
                                    <textarea id="add-input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="doc-submit-wrapper">
                <button id="doc-cancel-button">Cancel</button>
                <button id="doc-submit-button">Submit</button>
            </div>

        </div>

        <div id="delete-wrapper">
            <p id="delete-message">Would you like to delete this lesson <span id="delete-lesson-id">0</span>?</p>
            <p id="delete-warning">You cannot undo this action.</p>
            <div id="delete-submit-wrapper">
                <button id="delete-cancel-button">Cancel</button>
                <button id="delete-submit-button">Delete</button>
            </div>
        </div>
    </div>
</body>
</html>